@using TravelTripProje.Models.Siniflar;
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

     @foreach (var y in Model)
        {
            <tr>
                <th>@y.ID</th>
                <th>@y.Baslik</th>
                <th><a href="~/Admin/BlogSil/@y.ID" class="btn btn-danger">Sil</a></th>
                <th><a href="~/Admin/BlogGetir/@y.ID" class="btn btn-warning">Güncelle</a></th>
                @*<th><a href="#" class="btn btn-default">Sil</a></th>*@
            </tr>
        }
    
</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>
